body {
    background-color: #eaeaea;
}

p {
    text-indent: 15px;
}

h1 {
    font-size: 2em;
    margin: 10px 0 5px 0;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0 5px 0;
}

strong {
    font-weight: bold;
}

ul, ol {
    margin-left: 25px;
}

header {
    padding: 10px;
    min-height: 48px;
    background-color: white;
}

#logo {
    text-decoration: none;
    float: left;
}

header h1 {
    text-align: right;
    color: #3b8dbd;
}

#content-wrapper {
    padding: 10px 10px 10px 10px;
    margin-bottom: 35px;
}

#breadcrumb {
    background: #dcdcdc url("../img/house.png") 3px center no-repeat;
    padding: 10px 5px 10px 40px;
    border: 1px solid #00aeef;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #c2c2c2;
    color: #245674;
}

.clear {
    clear: both;
}

footer {
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #3b8dbd;
    color: #ffffff;
    font-size: 0.9em;
    padding: 8px;
}

#top-menu div {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #00aeef;
    border-bottom: 1px solid #00aeef;
    height: 40px;
    font-weight: bold;
}

#top-menu div ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    color: #fff;
}

#top-menu div ul li {
    float: left;
    height: 40px;
}

#top-menu div ul a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    display: block;
    height: 20px;
    transition: .5s;
}

#top-menu div ul a:hover {
    color: #29a7e1;
    background: #ffffff;
}

#top-menu div ul a:active {
    background: #c7e6f5;
}

#left-bar {
    float: left;
    width: 200px;
}

.widget {
    margin-bottom: 5px;
    border-radius: 8px;
    background: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #00aeef;
    box-shadow: 1px 1px 3px #c2c2c2;
}

.widget .header {
    background: #3b8dbd url("../img/toggle-collapse.png") 15px center no-repeat;
    color: #ffffff;
    padding: 15px;
    text-align: right;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    text-transform: capitalize;
    cursor: pointer;
}

.widget .content {
    padding: 5px 10px 10px 10px;
}

.widget .content p {
    border-bottom: 1px solid #d2d2d2;
    padding: 10px 0;
}

.widget.collapsed .content {
    display: none;
}

.widget.collapsed .header {
    border-radius: 8px;
    background-image: url("../img/toggle-expand.png");
}

#google-search #q {
    margin: 5px 0;
}

#content {
    padding-left: 220px
}

#content p {
    padding: 10px 0;
}

.red-element {
    color: red;
}

/* for debugging layers use class="borders" */
.borders {
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
}

.dynamic-content.hidden {
    display: none;
}

.dynamic-content {
    width: 50%;
    float: left;
}

.fixed-content {
    width: 30%;
    float: left;
}

#contact-form div {
    padding: 5px 13px;
}

/*personal details table styling*/
.personal-details-section {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #ffffff;

    -moz-border-radius-bottomleft: 11px;
    -webkit-border-bottom-left-radius: 11px;
    border-bottom-left-radius: 11px;

    -moz-border-radius-bottomright: 11px;
    -webkit-border-bottom-right-radius: 11px;
    border-bottom-right-radius: 11px;

    -moz-border-radius-topright: 11px;
    -webkit-border-top-right-radius: 11px;
    border-top-right-radius: 11px;

    -moz-border-radius-topleft: 11px;
    -webkit-border-top-left-radius: 11px;
    border-top-left-radius: 11px;
}

.personal-details-section table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.personal-details-section tr:last-child td:last-child {
    -moz-border-radius-bottomright: 11px;
    -webkit-border-bottom-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.personal-details-section table tr:first-child td:first-child {
    -moz-border-radius-topleft: 11px;
    -webkit-border-top-left-radius: 11px;
    border-top-left-radius: 11px;
}

.personal-details-section table tr:first-child td:last-child {
    -moz-border-radius-topright: 11px;
    -webkit-border-top-right-radius: 11px;
    border-top-right-radius: 11px;
}

.personal-details-section tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 11px;
    -webkit-border-bottom-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.personal-details-section tr:hover td {
    background-color: #d3e9ff;
}

.personal-details-section td {
    vertical-align: middle;

    background-color: #aad4ff;

    border: 1px solid #ffffff;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}

.personal-details-section tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.personal-details-section tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.personal-details-section tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.personal-details-section tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.personal-details-section tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}

.personal-details-section td:first-child {
    font-weight: bold;
    text-align: center;
}

#social-icons li {
    display: inline;
    padding: 10px;
}

/*contacts list page styling*/
.agenda-content-column {
    width: 40%;
    float: left;
    padding-right: 80px;
}

.agenda-content-column h2 {
    padding: 10px;
}

.agenda-content-column .text-field {
    height: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}

.agenda-content-column .button {
    height: 26px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;

    background: -o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000));
    background: -moz-linear-gradient(center top, #4c4c4c 5%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");
    background: -o-linear-gradient(top, #4c4c4c, 000000);

    border: none;
    text-align: center;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}

#contacts-search-keyword {
    margin-right: 15px;
    width: 250px;
    padding-left: 15px;
}

#contacts-search-keyword.default-state {
    font-style: italic;
    color: gray;
}

#add-contact-form {
    width: 60%;
}

#add-contact-form div {
    padding: 8px;
    vertical-align: middle;
}

#add-contact-form label {
    float: left;
}

#add-contact-form .text-field {
    float: right;
}

/*contacts table styling*/

/*TODO: Fix bug: section border-radius 0 for some reason*/
.contacts-section {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;

    -moz-border-radius-bottomleft: 11px;
    -webkit-border-bottom-left-radius: 11px;
    border-bottom-left-radius: 11px;

    -moz-border-radius-bottomright: 11px;
    -webkit-border-bottom-right-radius: 11px;
    border-bottom-right-radius: 11px;

    -moz-border-radius-topright: 11px;
    -webkit-border-top-right-radius: 11px;
    border-top-right-radius: 11px;

    -moz-border-radius-topleft: 11px;
    -webkit-border-top-left-radius: 11px;
    border-top-left-radius: 11px;
}

.contacts-section table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.contacts-section tr:last-child td:last-child {
    -moz-border-radius-bottomright: 11px;
    -webkit-border-bottom-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.contacts-section table tr:first-child td:first-child {
    -moz-border-radius-topleft: 11px;
    -webkit-border-top-left-radius: 11px;
    border-top-left-radius: 11px;
}

.contacts-section table tr:first-child td:last-child {
    -moz-border-radius-topright: 11px;
    -webkit-border-top-right-radius: 11px;
    border-top-right-radius: 11px;
}

.contacts-section tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 11px;
    -webkit-border-bottom-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.contacts-section tr:hover td {

}

.contacts-section tr:nth-child(odd) {
    background-color: #e5e5e5;
}

.contacts-section tr:nth-child(even) {
    background-color: #ffffff;
}

.contacts-section td {
    vertical-align: middle;

    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}

.contacts-section tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.contacts-section tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.contacts-section tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.contacts-section tr:first-child td {
    background: -o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000));
    background: -moz-linear-gradient(center top, #4c4c4c 5%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");
    background: -o-linear-gradient(top, #4c4c4c, 000000);

    background-color: #4c4c4c;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}

.contacts-section tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000));
    background: -moz-linear-gradient(center top, #4c4c4c 5%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");
    background: -o-linear-gradient(top, #4c4c4c, 000000);

    background-color: #4c4c4c;
}

.contacts-section tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.contacts-section tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}

/*checklist styling*/
#checklist {
    float: right;
    margin: 30px 60px;
    padding: 20px;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #ffffff;

    -moz-border-radius-bottomleft: 11px;
    -webkit-border-bottom-left-radius: 11px;
    border-bottom-left-radius: 11px;

    -moz-border-radius-bottomright: 11px;
    -webkit-border-bottom-right-radius: 11px;
    border-bottom-right-radius: 11px;

    -moz-border-radius-topright: 11px;
    -webkit-border-top-right-radius: 11px;
    border-top-right-radius: 11px;

    -moz-border-radius-topleft: 11px;
    -webkit-border-top-left-radius: 11px;
    border-top-left-radius: 11px;
}

#tasks img {
    width: 30%;
    height: 20%;
}

#tasks td:first-child {
    text-align: center;
}

#tasks td {
    padding-top: 10px;
    vertical-align: middle;
}

#tasks th {
    vertical-align: middle;
    font-weight: bold;
}
