<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>playing cards: DataView example</title>

    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/cards.css">
</head>
<body>

<h2>Playing cards, using DataView example</h2>

<div class="cards-table">

    <div class="card">
        <div>A <br/>&spades;</div>
        <div class="card-symbol">&spades;</div>
        <div class="card-name-bottom">A <br/>&spades;</div>
    </div>

    <div class="card red-card">
        <div>A <br/>&hearts;</div>
        <div class="card-symbol">&hearts;</div>
        <div class="card-name-bottom">A <br/>&hearts;</div>
    </div>

    <div class="card">
        <div>A <br/>&clubs;</div>
        <div class="card-symbol">&clubs;</div>
        <div class="card-name-bottom">A <br/>&clubs;</div>
    </div>

    <div class="card red-card">
        <div>A <br/>&diams;</div>
        <div class="card-symbol">&diams;</div>
        <div class="card-name-bottom">A <br/>&diams;</div>
    </div>

    <div class="card red-card">
        <div>K <br/>&diams;</div>
        <div class="card-symbol">&diams;</div>
        <div class="card-name-bottom">K <br/>&diams;</div>
    </div>

    <div class="card">
        <div>Q <br/>&clubs;</div>
        <div class="card-symbol">&clubs;</div>
        <div class="card-name-bottom">Q <br/>&clubs;</div>
    </div>

    <div class="card red-card">
        <div>J <br/>&diams;</div>
        <div class="card-symbol">&diams;</div>
        <div class="card-name-bottom">J <br/>&diams;</div>
    </div>
</div>

</body>
</html>